h1{
    font-size: 5.5rem;
}

/* Title */
.title{
    text-align: center;
    background-color: aqua;
    margin-bottom: 20px;
}
.form{
    margin-bottom: 20px;
}

.gif-label{
    position: relative;
    margin-right: 15px;
}

.gif-submit{
    position: relative;
    margin-left: 15px;
}


.results-div{
    margin-top: 20px;
    width: 80%;
    float: left;
    margin-left: 20%;
    margin-right: 10%;
}

.reset{
    width: 28%;
    margin-left: 36%;
}

.item{
    float: left;
    padding: 10px;
}

.gif{
    height: 300px;
    width: 300px;
    
}

@media screen and (min-width: 576px) and (max-width: 958px ) {
    .results-div{
        /* margin-left: 20%;
        margin-right: 10%;
        margin-right: screen; */
        left: 12.5%;
    
    }
    
  }



@media screen and (max-width: 575px) {
  .gif-submit{
    position: relative;
    margin-left: 0;
    margin-top: 20px;
    width: 28%;
  } 
  .results-div{
    /* margin-left: 20%;
    margin-right: 10%;
    margin-right: screen; */
    left: 0%;

}
  
  
}

@media screen and (max-width: 420px) { 
    .results-div{
      margin-left: 3%;
      /* margin-right: 10%;
      margin-right: screen;
      left: 0%; */
  
  }
    
    
  }